<main>
    <div id="wrapper">
        <button id="newCategory" (click)="showForm()">New Category</button>
        <div *ngIf="newForm">
            <form>
                <input type="text" id="newName">
                <input type="button" value="Add category" (click)="addCategory()">
            </form>
        </div>
        <div *ngFor="let category of showList; let i=index"> 
            <div class="category" *ngIf="!category.show">
                <div class="header">
                    <p>{{category.name}}</p>
                    <div>
                        <img (click)="deleteCategory(category)" src="https://img.icons8.com/external-others-iconmarket/24/000000/external-delete-essential-others-iconmarket-4.png"/>
                        <img (click)="toggleShow($event, category)" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/000000/external-chevron-arrows-tanah-basah-basic-outline-tanah-basah-4.png"/>
                    </div>
                </div>
            </div>
            <div class="category" *ngIf="category.show">
                <div class="header">
                    <p>{{category.name}}</p>
                    <div>
                        <img (click)="deleteCategory(category)" src="https://img.icons8.com/external-others-iconmarket/24/000000/external-delete-essential-others-iconmarket-4.png"/>
                        <img (click)="toggleShow($event, category)" src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/000000/external-chevron-arrows-tanah-basah-basic-outline-tanah-basah-4.png" style="transform: rotate(180deg);"/>
                    </div>
                </div>
                <div *ngFor="let item of items">
                    <app-item [item]="item" [category]="category"></app-item>
                </div>
            </div>
        </div>
    </div>
    <a target="_blank" href="https://icons8.com/icon/R52ioYgkCvz6/chevron">chevron icon by Icons8</a>
</main>