<main>
    <div id="wrapper">
        <div>
            <form id="signup">
                Email: <input type="text" ng-model="email">
                Password: <input type="password" ng-model="password">
                Cofirm Password: <input type="password" ng-model="confirmedpassword">
                <input type="submit" value="Sign up" style="background-color: lightgreen;">
            </form>
        </div>
        <span></span>
        <div>
            <form id="signin">
                Email: <input type="text" ng-model="email">
                Password: <input type="text" ng-model="password">
                <input type="submit" value="Sign in" style="background-color: lightgreen;">
            </form>
        </div>
    </div>
</main>
