<main>
    <div id="wrapper">
        <div>
            <form id="signup">
                Email: <input type="text" id="signupemail">
                Password: <input type="password" id="signuppassword">
                Cofirm Password: <input type="password" id="confirmedpassword">
                <input type="button" value="Sign up" style="background-color: lightgreen;" (click)="signup()">
            </form>
        </div>
        <span></span>
        <div>
            <form id="signin">
                Email: <input type="text" id="signinemail">
                Password: <input type="password" id="signinpassword">
                <input type="button" value="Sign in" style="background-color: lightgreen;" (click)="signin()">
            </form>
        </div>
    </div>
</main>
