.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show{
    display:block;
}

.hidden{
    display: none;
}

#editItem input{
    width: 10vw;
}